#wordmark {
	background: #202020;
	padding: 5px 0;
	border-bottom: 4px solid #d2bd86;
}
#wordmark img {
	margin: 0 auto;
	display: block;
}
#mainpic img{
	margin:0 auto;
	display: block;
}
#title{text-align:center
}
#introMyself{text-align:center;
}
#kylepic img{
	margin: 0 auto;
	display: block;
}
#b{color:#000000;}


.mycss
{
font-weight:bold;font-family:Nirmala UI, serif;
}



